@if (loaderService.isLoading()) {
<!-- <div class="fixed inset-0 flex items-center justify-center bg-gray-50/50 bg-opacity-60 z-[999999999]">
  <div class="flex flex-col items-center">
    <div class="w-16 h-16 border-4 border-black border-t-transparent rounded-full animate-spin"></div>
    <p class="mt-4 text-black lato-medium tracking-wider text-lg">Loading...</p>
  </div>
</div> -->
<div class="fixed inset-0 flex items-center justify-center bg-gray-900/50 z-[999999999]">

  <div class="loader"></div>
</div>
}

<!-- @if (loaderService.isLoading()) {
  <div class="fixed inset-0 z-50 flex items-center justify-center bg-gray-50/50 bg-opacity-60">
    <div class="flex flex-col items-center space-y-3">
      <div class="relative w-10 h-10">
        <div class="w-full h-full border-4 border-gray-200 border-t-blue-500 rounded-full animate-spin"></div>
        <div class="absolute inset-0 w-full h-full rounded-full border-4 border-blue-400 border-t-transparent animate-spin-reverse opacity-50 scale-75"></div>
      </div>
      <p class="text-gray-500 text-sm font-medium tracking-wide">Loading...</p>
    </div>
  </div>
} -->