@if (toast) {
<div [ngClass]="['fixed top-4 right-4 z-[999999999] min-w-[250px] max-w-sm px-4 py-3 rounded-lg shadow-md text-white flex items-center gap-3 transition-all duration-500 ease-in-out',
    getBgColor(toast.type),
    visible ? 'translate-x-0 opacity-100' : 'translate-x-full opacity-0'
  ]">
  <div class="text-sm tracking-wider">
    @if (toast.type === 'warning') {
    <span
      class="px-2.5 py-1.5 flex items-center justify-center bg-yellow-100/60 rounded-full text-yellow-900 text-base">⚠️</span>
    }
    @if (toast.type === 'success') {
    <span
      class="px-2.5 py-1.5 flex items-center justify-center bg-green-100/60 rounded-full text-green-900 text-base">✅</span>
    }
    @if (toast.type === 'error') {
    <span
      class="px-2.5 py-1.5 flex items-center justify-center bg-red-100/60 rounded-full text-red-900 text-base">❌</span>
    }
    @if (toast.type === 'info') {
    <span
      class="px-2.5 py-1.5 flex items-center justify-center bg-blue-100/60 rounded-full text-blue-900 text-base">💬</span>
    }
  </div>

  <div class="flex-1 border-l border-white/30 pl-3">
    <div class="uppercase text-xs lato-bold tracking-widest text-white">
      {{ toast.title || toast.type }}
    </div>
    <div class="text-[11px] leading-snug tracking-wider lato-regular">
      {{ toast.message }}
    </div>
  </div>
</div>
}